SUBSMITH_WHISPER_MODEL=small
SUBSMITH_DEVICE=cpu
SUBSMITH_COMPUTE_TYPE=int8
SUBSMITH_SOURCE_LANGUAGE=
SUBSMITH_TARGET_LANGUAGE=el
SUBSMITH_TRANSLATION_WORKERS=8
SUBSMITH_TRANSLATION_MAX_RETRIES=3
SUBSMITH_SUBTITLE_FONT_SIZE=24
SUBSMITH_AUDIO_SAMPLE_RATE=16000
SUBSMITH_LOG_LEVEL=INFO
