__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.venv/
venv/
.testenv/
.rtenv/
.env

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/

models/
*.srt
*.wav
*.mp4
*.mkv
_it/

.idea/
.vscode/
.DS_Store
